<header class="bg-sky-400 text-white p-4 shadow-lg font-manrope">
  <div class="container mx-auto flex justify-between items-center px-4 md:px-0">
    
    <div class="text-2xl font-black tracking-tight">
      <%= link_to new_parking_manager_session_path, class: "flex items-center hover:opacity-80 transition-opacity" do %>
        <span class="text-white">駐車場管理</span>
      <% end %>
    </div>   
  </div>
</header>
