<div class="min-h-screen bg-gray-50 flex flex-col items-center py-12 sm:px-6 lg:px-8">
  <div class="max-w-4xl w-full bg-white shadow-xl rounded-lg p-8">
    
    <h2 class="text-3xl font-extrabold text-gray-900 text-center mb-8">
     駐車場エリア作成 
    </h2>

    <%= render 'form', parking_lot: @parking_lot %>
    <div class="mt-8 text-center border-t border-gray-100 pt-6">
      <%= back_link_to "エリア一覧に戻る", parking_lots_path, class: "text-indigo-600" %>
    </div>
  </div>
</div>
