<div class="min-h-screen bg-gray-50 flex flex-col items-center py-12 sm:px-6 lg:px-8">
  <div class="max-w-4xl w-full bg-white shadow-xl rounded-lg p-8">

    <h2 class="text-3xl font-extrabold text-gray-900 text-center mb-8">
      契約者作成
    </h2>

    <%= render "shared/error_messages", object: @contractor %>
    <%= render "form", contractor: @contractor %>

    <%= link_to "契約者一覧に戻る", contractors_path, class: "text-sm font-medium text-indigo-600 hover:text-indigo-500" %>
    </div>
  </div>
</div>
