<div class="flex flex-wrap gap-2">
  <% if options.any? %>
    <% options.each do |option| %>
      <span class="px-2 py-1 bg-gray-100 text-gray-600 text-[11px] font-bold rounded border border-gray-200">
        <%= option.name %>
      </span>
    <% end %>
  <% else %>
    <span class="text-xs text-gray-400 italic">特記事項なし</span>
  <% end %>
</div>
