<div class="flex justify-center min-h-screen bg-gray-100 py-12 sm:px-6 lg:px-8">
  <div class="max-w-4xl w-full bg-white shadow-xl rounded-lg p-8 h-fit">

    <h2 class="text-3xl font-extrabold text-gray-900 text-center mb-8">
      管理者アカウントの作成
    </h2>

    <%= render "form", parking_manager: @parking_manager %>

  </div>
</div>
