<div class="flex" id="wrapper">

  <main class="flex-grow overflow-y-auto p-6">
    <div class="row">
      <div class="col-12">
        <h1 class="mt-4">ダッシュボード</h1>
        </div>
    </div>
  </main>
</div>
