@import "tailwindcss";

@layer components {
	.btn-secondary {
		@apply inline-flex items-center justify-center px-4 py-2 border border-gray-300 
                rounded-lg text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 
                shadow-sm transition-all active:bg-gray-100;
	}
}
