<div class="max-w-2xl mx-auto py-10 px-4">
  <h1 class="text-2xl font-bold mb-6"><%= Inquiry.model_name.human %></h1>
  <%= render "shared/error_messages", object: @inquiry %>
  <%= render "form" %>
</div>
